<div id="<%= dom_id friend %>" class="row" >

  <div class="col">
    
    <%= friend.first_name %>
  </div>

  <div class="col">
    
    <%= friend.last_name %>
  </div>

  <div class="col">
    
    <%= friend.email %>
  </div>

 <div class="col">
    
    <%= friend.phone %>
  </div>

 <div class="col">
    
    <%= friend.twitter %>
  </div>

</div>
